@page "/teams"
@inject DotNetCloud.Server.UI.Services.TeamService TeamService

<h3>Teams</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var team in teams)
        {
            <li>@team.Name
                <button @onclick="() => EditTeam(team)">Edit</button>
                <button @onclick="() => DeleteTeam(team.Id)">Delete</button>
            </li>
        }
    </ul>
    <button @onclick="ShowCreate">Create New Team</button>
}

@if (showForm)
{
    <EditForm Model="editTeam" OnValidSubmit="HandleSubmit">
        <InputText @bind-Value="editTeam.Name" placeholder="Team Name" />
        <button type="submit">Save</button>
        <button type="button" @onclick="HideForm">Cancel</button>
    </EditForm>
}

@code {
    List<DotNetCloud.Core.Models.Team> teams;
    DotNetCloud.Core.Models.Team editTeam = new();
    bool showForm = false;
    bool isEdit = false;

    protected override async Task OnInitializedAsync()
    {
        teams = await TeamService.GetTeamsAsync();
    }

    void ShowCreate()
    {
        editTeam = new DotNetCloud.Core.Models.Team();
        showForm = true;
        isEdit = false;
    }

    void EditTeam(DotNetCloud.Core.Models.Team team)
    {
        editTeam = new DotNetCloud.Core.Models.Team { Id = team.Id, Name = team.Name };
        showForm = true;
        isEdit = true;
    }

    void HideForm() => showForm = false;

    async Task HandleSubmit()
    {
        if (isEdit)
            await TeamService.UpdateTeamAsync(editTeam.Id, editTeam);
        else
            await TeamService.CreateTeamAsync(editTeam);
        teams = await TeamService.GetTeamsAsync();
        showForm = false;
    }

    async Task DeleteTeam(System.Guid id)
    {
        await TeamService.DeleteTeamAsync(id);
        teams = await TeamService.GetTeamsAsync();
    }
}
